::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
  background: #52616b; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #4ecca3;
}

body {
  height: 100vh;
  background: #c9d6df;
}

#root {
  max-height: 100%;
}

.navbar {
  background: #52616b !important;
}

a {
  text-decoration: none !important;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 20px; /* Remove scrollbar space */
  }
}
