::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
  background: #52616b; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #4ecca3;
}

body {
  height: 100vh;
  background: #c9d6df;
}

.navbar {
  background: #52616b !important;
}
