::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
  background: #c9d6df; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #4ecca3;
}

body {
  background: #f0f5f9;
}
